[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pytest = "*"

[packages]
requests = "*"
lxml = "*"
pytz = "*"
scrapy = "*"
scrapyd = "*"
scrapyd-client = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
mysqlclient = {path = "./mysqlclient-1.4.6-cp37-cp37m-win32.whl"}
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"

[requires]
python_version = "3.7"
