[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"

[packages]
requests = "*"
lxml = "*"
pytz = "*"
scrapy = "*"
scrapyd = "*"
scrapyd-client = "*"
sqlalchemy = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
