
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}This is an example page{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-group">
            <form action="#" method="post" id='date_form'>
                <label for="date_form">Select date</label>
                {{ date_form.dt }}
                {{ date_form.csrf_token(form='date_form') }}
                <br>
                {{ date_form.card_code.label }}
                {{ date_form.card_code(class_="form-control") }}
                <br>
                {{ date_form.trans_code.label}}
                {{ date_form.trans_code(class_="form-control") }}
                <br>
                {{ date_form.submit_date(class_="btn btn-secondary") }}
            </form>
        </div>

        <br><br>
        <div class="form-group">
            <form action="#" method="post" id='compare_form'>
                {{ compare_form.dt_from }}
                {{ compare_form.csrf_token(form='compare_form') }}
                <br>
                {{ compare_form.dt_to }}
                <br>
                {{ compare_form.card_code.label }}
                {{ compare_form.card_code(class_="form-control") }}
                <br>
                {{ compare_form.trans_code.label }}
                {{ compare_form.trans_code(class_="form-control") }}
                <br>
                {{ compare_form.submit_compare(class_="btn btn-primary") }}
            </form>
        </div>
    </div>

{% endblock %}


